*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #ffffff;
  --header-color: #002333;
  --main-color: #b4bec9;
  --accent-1: #deefe7;
  --accent-2: #159a9c;
  --red: #e74c3c;
  font-family: "DM Sans", sans-serif;
}

/*======================== GENERAL START=================*/

body {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 10%);
  grid-template-rows: 10% 1fr;
  grid-template-areas:
    "header book"
    "main main";
  height: 100vh;
}

/*======================== GENERAL END =================*/

/*======================== HEADER START =================*/

header {
  background-color: var(--header-color);
  grid-area: header;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  gap: 0.4vw;
}

.logo {
  grid-area: logo;
  background-color: var(--header-color);
  align-self: center;
}

.logo > svg {
  fill: var(--accent-2);
  height: 1em;
  position: relative;
  top: 4px;
}

.add-book {
  grid-area: book;
}

.add-book > button > p {
  margin-bottom: -2px;
}

.add-book > button {
  background-color: var(--accent-2);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  font-size: large;
  font-weight: 800;
}

.add-book > button:hover {
  background-color: var(--text-color);
  color: var(--accent-2);
  cursor: pointer;
}
/*======================== HEADER END =================*/

/*======================== MAIN START =================*/

main {
  background-color: var(--main-color);
  grid-area: main;
  display: grid;
  padding: 5vh 5vw;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  grid-auto-rows: 300px;
  gap: 3vw;
}

main .book {
  background-color: var(--text-color);
  padding: 15px;
  border-radius: 3px 25px 25px 3px;
  border-left: 20px solid var(--accent-2);
  box-shadow: 5px 5px 5px #767b7d75;
}
/*======================== MAIN END =================*/

dialog {
  top: 20%;
  position: relative;
  margin: 0 auto;
  height: 350px;
  max-width: 50ch;
  border: 0;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.3);
}

dialog::backdrop {
  background: linear-gradient(45deg, #002333, #159a9c);
  opacity: 0.8;
}

form {
  background-color: var(--accent-2);
  position: relative;
  min-width: 20vw;
  height: 100%;
  padding: 20px;
  border: none;
  min-width: 200px;
}

input {
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  border: 1px solid var(--header-color);
  border-radius: 5px;
}

input:focus {
  background-color: #9fd0d1ce;
  outline: none;
  border: 1px solid var(--text-color);
}

input.long {
  width: 100%;
}

input.short {
  width: 50%;
}

form button {
  width: 100px;
  height: 40px;
  background-color: var(--header-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

form input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

form label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  margin-bottom: 5px;
}

form button:hover {
  background-color: var(--text-color);
  color: var(--header-color);
  cursor: pointer;
}

/*============BOOK STYLE==========*/
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  position: relative;
}

.book-title {
  font-weight: bold;
  font-size: 1.4rem;
  cursor: default;
  margin-bottom: 25px;
}

.book-author {
  font-style: italic;
  cursor: default;
}

.book-year {
  font-size: 0.8rem;
}

.book-have-read {
  color: var(--accent-2);
  cursor: default;
}

.book-delete-btn {
  position: absolute;
  top: 4%;
  left: 4%;
  width: 25px;
  height: 25px;
  appearance: none;
  background-color: var(--header-color);
  color: var(--text-color);
  border-radius: 50%;
  border: none;
}

.book-delete-btn:hover,
.read-btn:hover {
  background-color: var(--red);
  color: var(--text-color);
  cursor: pointer;
}

.read-btn {
  width: 50%;
  height: 35px;
  background-color: var(--accent-2);
  color: var(--text-color);
  border-radius: 10px;
  border: none;
  appearance: none;
  margin-top: 25px;
}
