*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #ffffff;
  --header-color: #002333;
  --main-color: #b4bec9;
  --accent-1: #deefe7;
  --accent-2: #159a9c;
  font-family: "DM Sans", sans-serif;
}

/*======================== GENERAL START=================*/

body {
  display: grid;
  grid-template-columns: 1fr 10%;
  grid-template-rows: 10% 1fr;
  grid-template-areas:
    "header book"
    "main main";
  height: 100vh;
}

/*======================== GENERAL END =================*/

/*======================== HEADER START =================*/

header {
  background-color: var(--header-color);
  grid-area: header;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  gap: 0.4vw;
}

.logo {
  grid-area: logo;
  background-color: var(--header-color);
  align-self: center;
}

.logo > svg {
  fill: var(--accent-2);
  height: 1em;
  position: relative;
  top: 4px;
}

.add-book {
  grid-area: book;
}

.add-book > button > p {
  margin-bottom: -2px;
}

.add-book > button {
  background-color: var(--accent-2);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  font-size: large;
  font-weight: 800;
}

.add-book > button:hover {
  background-color: var(--text-color);
  color: var(--accent-2);
  cursor: pointer;
}
/*======================== HEADER END =================*/

/*======================== MAIN START =================*/

main {
  background-color: var(--main-color);
  grid-area: main;
  display: grid;
  padding: 5vh 5vw;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  gap: 3vw;
}

main .book {
  background-color: var(--text-color);
  padding: 15px;
  border-radius: 3px 25px 25px 3px;
  border-left: 20px solid var(--accent-2);
  box-shadow: 5px 5px 5px #767b7d75;
}
/*======================== MAIN END =================*/

dialog {
  top: 20%;
  left: 40%;
  position: absolute;
}

form {
  background-color: var(--accent-2);
  position: relative;
  width: 20vw;
  height: 300px;
  padding: 20px;
  border: none;
  min-width: 200px;
}

input {
  margin-bottom: 10px;
  height: 25px;
  padding: 5px;
  border: 1px solid var(--header-color);
  border-radius: 5px;
}

input:focus {
  background-color: #9fd0d1ce;
  outline: none;
  border: 1px solid var(--text-color);
}

input[type="checkbox"] {
}

input.long {
  width: 100%;
}

input.short {
  width: 50%;
}

form button {
  width: 100px;
  height: 40px;
  background-color: var(--header-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  margin-left: 5px;
}

form button:hover {
  background-color: var(--text-color);
  color: var(--header-color);
  cursor: pointer;
}

/*============BOOK STYLE==========*/
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  position: relative;
}

.book-title {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: default;
}

.book-author {
  font-style: italic;
  cursor: default;
}

.book-year {
  font-size: 0.8rem;
}

.book-have-read {
  color: var(--accent-2);
  cursor: default;
}

.book-delete-btn {
  position: absolute;
  top: 4%;
  left: 4%;
  width: 25px;
  height: 25px;
  appearance: none;
  background-color: var(--header-color);
  color: var(--text-color);
  border-radius: 50%;
  border: none;
}

.book-delete-btn:hover {
  background-color: var(--accent-2);
  color: var(--text-color);
  cursor: pointer;
}
