*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #ffffff;
  --header-color: #002333;
  --main-color: #b4bec9;
  --accent-1: #deefe7;
  --accent-2: #159a9c;
}

body {
  display: grid;
  grid-template-columns: 1fr 10%;
  grid-template-rows: 10% 1fr;
  grid-template-areas:
    "header book"
    "main main";
  height: 100vh;
}

header {
  background-color: var(--header-color);
  grid-area: header;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-family: "DM Sans", sans-serif;
  gap: 0.4vw;
}

header > p {
}

.logo {
  grid-area: logo;
  background-color: var(--header-color);
  align-self: center;
}

.logo > svg {
  fill: var(--accent-2);
  height: 1em;
  position: relative;
  top: 4px;
}

.add-book {
  grid-area: book;
}

.add-book > button > p {
  margin-bottom: -2px;
}

.add-book > button {
  background-color: var(--accent-2);
  color: var(--text-color);
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  font-size: large;
  font-weight: 800;
}

.add-book > button:hover {
  background-color: var(--text-color);
  color: var(--accent-2);
}

main {
  background-color: var(--main-color);
  grid-area: main;
  display: grid;
  padding: 5vh 5vw;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  gap: 3vw;
}

main .book {
  background-color: var(--text-color);
  padding: 15px;
  border-radius: 3px 25px 25px 3px;
  border-left: 20px solid var(--accent-2);
  box-shadow: 5px 5px 5px #767b7d75;
}
